/* Estilos generales */
.product-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.product-details {
    margin-left: 20px;
    text-align: left;
    flex-grow: 1;
}

.product-title {
    color: #007bff;
    margin-bottom: 5px;
}

.product-description {
    font-size: 1.1em;
    text-align: left;
    word-wrap: break-word;
    color: #555;
    line-height: 1.5;
    max-height: calc(1.1em * 1.5 * 3);
    overflow: hidden;
}

h1#marca-titulo {
    text-align: center;
    color: var(--color-primario);
    margin-bottom: 20px;
}

.product-card img {
    min-width: 150px;
    max-width: 40%;
    height: auto;
    display: block;
    margin-right: 15px;
    border-radius: 4px;
    flex-shrink: 0; /* Evita que la imagen se encoja demasiado */
}

#productos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

/* Media Query para pantallas más pequeñas (ej. teléfonos) */
@media (max-width: 768px) {
    .product-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-content {
        flex-direction: column;
        align-items: center;
    }

    .product-card img {
        min-width: 60%;
        max-width: 80%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .product-details {
        margin-left: 0;
        margin-top: 10px;
    }

    .product-description {
        text-align: center;
    }
}

/* Media Query para pantallas aún más pequeñas (opcional) */
@media (max-width: 480px) {
    .product-card img {
        min-width: 80%;
        max-width: 90%;
    }
}

.regresar-container {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100;
}

#regresarBtn {
    padding: 15px 30px;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Añadí transiciones para más propiedades */
}

#regresarBtn:hover {
    background-color: #E65337;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
